.o_ai_livechat_message_content {
    p {
        margin-bottom: 0 !important;
    }
}

.o_show_on_message_hover {
    visibility: hidden;
}

.o_ai_livechat_message_with_copy_button:hover {
    .o_show_on_message_hover {
        visibility: visible;
    }
}

.o_ai_livechat_input_sticky {
    position: sticky;
    background-color: white;
    padding-bottom: 20px;
    bottom: 0;
}
