// Define general bootstrap overrides for the shop floor,
// high specificity to override default bootstrap variables set on the body
body:has(.o_mrp_display) {
    --body-color: #{$gray-900};

    --o-btn-padding-x: 0.75rem;
    --o-btn-padding-x-lg: 1rem;
    --o-btn-padding-y: 0.5rem;
    --o-btn-padding-y-lg: 0.75rem;

    --interaction-min-size: calc(#{$btn-font-size * $btn-line-height} + var(--o-btn-padding-y) * 2 + #{o-to-rem($border-width) * 2});

    .o_work_centers_container,
    .o_cp_burger_menu,
    .o_mrp_display_content,
    .o_mrp_display_back_button {
        & .btn, &.btn {
            --btn-padding-x: var(--o-btn-padding-x);
            --btn-padding-y: var(--o-btn-padding-y);

            // Override o_web_client.o_touch_device
            font-size: var(--btn-font-size);
            padding: var(--btn-padding-y) var(--btn-padding-x);

            min-height: var(--interaction-min-size);
            min-width: var(--interaction-min-size);
        }

        & .btn-lg {
            --btn-padding-x: var(--o-btn-padding-x-lg);
            --btn-padding-y: var(--o-btn-padding-y-lg);
        }
    }

    .o_avatar_connected {
        height: 2rem;
        width: 2rem;
    }
}

.o_mrp_display {
    .o_mrp_display_records {
        column-width: 340px;
        column-gap: 8px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: start;

        @include media-breakpoint-up(lg) {
            grid-template-columns: repeat(2, 1fr);
        }
        @include media-breakpoint-up(xl) {
            grid-template-columns: repeat(3, 1fr);
        }
        @include media-breakpoint-up(xxl) {
            grid-template-columns: repeat(4, 1fr);
        }
    }


    .o_mrp_timer {
        background-color: $list-group-active-bg;
        color: $list-group-active-border-color;
    }

    .o_tabular_nums {
        font-variant-numeric: tabular-nums;
    }
}
