.o_mrp_display_record {
    break-inside: avoid;

    &.o_active {
        .card-header {
            background-color: $list-group-active-bg;
        }
    }

    .card-header {
        background-color: $list-group-bg;
    }

    .card-footer {
        background-color: $list-group-bg;
    }

    &.o_disabled {
        opacity: 0.75;
    }

    &.o_demo {
        opacity: 0.1;
    }
}
