$o-voipCalling-bg-color: #090C13;
$o-voipCalling-button-bg-color: #1F2937;
$o-voipCalling-button-bg-color-hover: #19222E;
$o-voipCalling-button-bg-color-active: #fff;
$o-voipCalling-button-color: color-contrast($o-voipCalling-button-bg-color);
$o-voipCalling-button-color-active: $dark;
$o-voipCalling-button-border-color: transparent;
$o-voipCalling-tabEntry-bg-color-hover: #0E131C;
$o-voip-softphone-z-index: $zindex-modal - 2;
$o-voip-countryFlag-width: 2em;
$o-voip-progress-height: map-get($spacers, 1);
$o-voip-progressBar-duration: 3s;
